<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786402218730-j6tlga9tn26cirjdti2fr0n3a9ps49bq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786402218730-j6tlga9tn26cirjdti2fr0n3a9ps49bq</string>
	<key>API_KEY</key>
	<string>AIzaSyDlmjYWPVaqvu5GxA1g9pNtQoPpTwfv374</string>
	<key>GCM_SENDER_ID</key>
	<string>786402218730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userapp</string>
	<key>PROJECT_ID</key>
	<string>merkabah-c00bd</string>
	<key>STORAGE_BUCKET</key>
	<string>merkabah-c00bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786402218730:ios:be999612db127901a47d93</string>
</dict>
</plist>